

@font-face {
	font-family: 'Financier';
	src: url('../assets/fonts/FinancierTextWeb-Bold.eot');
  	src: url('../assets/fonts/FinancierTextWeb-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/FinancierTextWeb-Bold.woff2') format('woff2'), 
       url('../assets/fonts/FinancierTextWeb-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Financier';
  src: url('../assets/fonts/FinancierTextWeb-Regular.eot');
  src: url('../assets/fonts/FinancierTextWeb-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/FinancierTextWeb-Regular.woff2') format('woff2'), 
       url('../assets/fonts/FinancierTextWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Financier';
  src: url('../assets/fonts/FinancierTextWeb-RegularItalic.eot');
  src: url('../assets/fonts/FinancierTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/FinancierTextWeb-RegularItalic.woff2') format('woff2'), 
       url('../assets/fonts/FinancierTextWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: 'Financier', sans-serif;
	font-weight: 400;
	background: #fcfeff;
	color: #585656;

}

input, textarea {
	font-size: 1em;
	padding: .5em;
	font-family: "Financier", sans-serif;
	box-sizing: border-box;
	max-width: 100%;
}

input:focus, textarea:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

a {
	-webkit-box-shadow: inset 0 -1px 0 #3e59a8;
	box-shadow: inset 0 -1px 0 #3e59a8;
    text-decoration: none;
    color: inherit;
}
.post-thumb {
	-webkit-box-shadow: none;
    box-shadow: none;

}

a:hover, a:visited:hover {
	text-decoration: none;
	color: #386fe8;

}

a:visited {
	color: inherit;
}

a.button, a.button:visited, input[type=submit] {
	font-family: "Hind", sans-serif;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	border: none;
	background: #ff45d3;
	box-shadow: none;
	padding: .5em 1em .3em;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}

a.button:hover, input[type=submit]:hover{
	background: #bf22b8;
	color: white;
}


p, li {
	font-size: 1.5rem;
	line-height: 1.5;
}

p {
	margin-bottom: 1.5em;
}

ul, ol {
	margin-bottom: 1.5em;
}

ol li {
  list-style-type: decimal;
}

ol > li {
	margin-bottom: 1.5em;
}

h1, h2, h3, h4 {
	font-family: "Hind", sans-serif;
	font-weight: 500;
	color: #292121;
	line-height: 1.3;
}

h2 > a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.pg-section > h2 {
	font-size: 2em;
	margin-bottom: .5em;
	text-align: center;
	font-weight: normal;
}

@media (min-width: 55em) {
	.pg-section > h2 {
		font-size: 2.5em;
		margin-bottom: .8em;
	}

}

/* Header */

header {
	background: rgb(243, 248, 249);
	font-family: "Hind", sans-serif;
}

header > div {
	-webkit-box-align: center;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	max-width: 1404px;
	margin: 0 auto;
}

@media (min-width: 600px) {
	header > div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.logo {
	max-width: 40px;
	height: auto;
	vertical-align: middle;
}

header h1 {
	font-size: 1.6em;
	padding: .6em .6em 0;
	margin: 0;
}

@media (min-width: 600px) {
	header h1 {
		padding: .6em;
	}
}

header h1 a, header h1 a:visited {
	text-decoration: none;
	color: black;
	-webkit-box-shadow: none;
	box-shadow: none;
}

h1 > span {
}

.main-menu {
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	width: 270px;
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media (min-width: 600px) {
	.main-menu {
		padding: 0 1em;
		margin: 0;
	}
}

.main-menu li {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 0;
	display: inline-block;
}

.main-menu a {
	display: block;
	padding: 1.2em .8em 1em;
	text-decoration: none;
	color: inherit;
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.main-menu a:hover:before, .main-menu a.active:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #bf21b8;
	top: auto;
	left: 0;
	bottom: 0;
}

.main-menu a.disabled:before {
	content: none;
	display: none;
}

@media (min-width: 600px) {
	.main-menu a:hover:before, .main-menu a.active:before {
		top: 0;
		bottom: auto;
	}
}

.main-menu a.active {
	font-weight: bold;
}

.main-menu a.active:before {
	background: #ff45d3;
}


main > .pg-section > h1 {
	margin-bottom: 1.5em;
	font-family: "Hind", sans-serif;
	text-align: center;
	font-size: 2em;
	margin-bottom: .5em;
}

@media (min-width: 980px) {
	main > .pg-section > h1 {
		margin-bottom: .5em;
		font-size: 3em;
	}
}

/* Page Layout */

.pg-section:not(.pg-footer):not(.pg-home-intro) {
	padding: 2em 0;
}

@media (min-width: 48em) {
	.pg-section:not(.pg-footer):not(.pg-home-intro) {
	padding: 4em 0;
	}
}

.pg-section > * {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 1rem;
}

@media (min-width: 600px) {
	.pg-section > * {
		padding: 0 2rem;
	}
}

@media (min-width: 980px) {
	.pg-section > *, .pg-footer > div {
		max-width: 1180px;
		margin: 0 auto;
		padding: 0 4rem;
	}
}

@media (min-width: 1440px) {
	
	.pg-section > *, .pg-footer > div {
		padding: 0;
	}

}

/* home */

.tmpl-home .pg-section:nth-of-type(2n) {
	padding-bottom: 0;
}

.tmpl-home .pg-section:nth-of-type(2n) > div > *:last-child {
	border-bottom: 1px solid silver;
	padding-bottom: 1em;
}

@media (min-width: 768px) {
	.tmpl-home .pg-section:nth-of-type(2n) > div > *:last-child {
	padding-bottom: 3em;
}
}

.pg-home-intro {
	font-size: 1.5em;
	color: white;
    background: #485a8e;
    line-height: 1.4;
}

.pg-home-intro > div:after {
	clear: both;
	display: block;
	content: "";
}

.pg-home-intro img {
	width: 200px;
	height: auto;
	border-radius: 99999%;
    border: 4px solid #f3f8f9;
    margin-top: 1em;
}

@media (min-width: 1024px) {
	.pg-home-intro img {
		float: right;
		width: 280px;
		height: auto;
		border-radius: 99999%;
	    border: 4px solid #f3f8f9;
	    margin-top: 0;
	}
}

@media (min-width: 600px) {
	.pg-home-intro {
		font-size: 2em;
	}	
}

.pg-home-intro > div {
	max-width: 1024px;
	text-align: center;
	padding: 1em .5em;
}

@media (min-width: 600px) {
	.pg-home-intro > div {
		padding: 1em;
	}
}

@media (min-width: 1024px) {
	.pg-home-intro > div > div {
		padding: 2em 1em;
		float: left;
	}
}


@media (min-width: 1024px) {
	.pg-home-intro > div {
		padding: 1em 2em;
		text-align: left;
	}
}


.pg-home-intro h2 {
	padding: 1rem 0;
	color: white;
}

.pg-home-intro a {
	box-shadow: inset 0 -2px 0 #ff44d4;
}

.pg-home-intro a:hover {
	color: #ff44d4;
}

.pg-home-cycling h4 {
	color: silver;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.pg-home-cycling img {
	border-bottom: 3px solid #ff44d4;
}

.pg-home-cycling li {
	margin: .4em 0;
}

.pg-home-cycling h3 {
	font-family: "Hind", sans-serif;
	font-weight: normal;
	font-size: 2em;
	line-height: 1.4;
	margin: 1em auto 1em;
	text-align: center;
}

.center > div > p {
	max-width: 31em;
	margin: 0 auto;
}

/* Work */

.tmpl-work > .pg-section {
}
/* Index pages */
.post-list > li {
	margin-bottom: 2.5em;
	font-size: 1em;
}

.post-list > li a {
	color: #386fe8;
	text-decoration: none;
}

.post-list > li a:visited {
	color: #3d5aa8;
	text-decoration: none;
}

.post-list > li a:hover {
	-webkit-box-shadow: inset 0 -1px 0 #3e59a8;
	box-shadow: inset 0 -1px 0 #3e59a8;
}

.post-list > li h2 {
	font-size: 1.75em;
	font-family: "Hind", sans-serif;
	margin: .12em 0;
}

.post-list > li p {
	font-size: 1.2em;
	margin: 0;
}

.post-list .post-meta {
	color: silver;
}

/* Grids */



.group {
	margin-bottom: 2em;
}

@media (min-width: 48em) {
	.grd {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
    	-ms-flex-pack: justify;
    	justify-content: space-between;
	}

	.grd-2 > * {
		width: 46.755656108597285067%;
	}

	.group {
		margin-bottom: 0;
	}
}

.grp {
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

/* Lists */
.list-header {
	position: relative;
}

.list-header span {
	background: #fcfeff;
    position: relative;
    z-index: 2;
    padding-right: 5px;
}

.list-header:after {
	position: absolute;
	width: 100%;
	height: 1px;
	background: silver;
	content: "";
	display: block;
	top: 50%;
}

.work-list {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.work-list li {
	width: 100%;
	margin-bottom: 2em;
}

@media (min-width: 36em) {
.work-list li {
	width: 46%;
	margin-bottom: 2em;
	}
}

@media (min-width: 64em) {
.work-list li {
	width: 30.755656%;
	margin-bottom: 2em;
	}
}

.work-list li h2 {
	margin: .5em 0 0;
	font-size: 1.5rem;
}

.work-list li p {
	font-size: 1.25rem;
}

.stats li {
	font-size: 1em;
}

/* Contact Form */
.wufoo {
	max-width: 600px;
    margin: 0 auto;
}

.wufoo textarea {
	border: 1px solid #3e59a8;
}

.wufoo .input-list li {
	margin-bottom: 2em;
	width: 100%;
}

.wufoo input:not(.submit) {
	width: 100%;
	background: #fcfeff;
	border: 1px solid #fcfeff;;
	border-bottom: 1px solid #ff44d4;
	padding: .25em .5em;
}

.wufoo input:not(.submit):focus {
	background: white;
	border: 1px solid #ff44d4;
}


.wufoo .hide {
	display: none;
}

.highlights {
    text-align: left;
    max-width: 100%;
    margin: 2em auto 2em;
    background: #f3f8f9;
    padding: 2em;
    border-radius: 6px;

}

@media (min-width: 48em) {
	.highlights {
    margin: 4em auto 2em;
	}
}

.highlights > h3 {
    color: #585656;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: .5em;
}

.highlights > ol {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;    
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.highlight-list li {
	margin-bottom: .5em;
	color: #48598e;
	list-style: none;
	width: 100%;
	text-align: center;
	font-size: 1.25em;
	margin: 0 auto 1em;
}

@media (min-width: 600px) {
	.highlight-list li {
		width: 40%;
		text-align: center;
	}	
}

@media (min-width: 960px) {
	.highlight-list li {
		width: 30%;
		text-align: center;
	}	
}

.highlight-list li:before {
	font-size: 2.5em;
    display: block;
    color: #386ee8;
    border-radius: 30000px;
    padding: 0px 18px;
    background: #dadada45;
    width: 40px;
    margin: 0 auto .2em;
}

.highlight-list li:nth-of-type(1):before {
	content: "1";
}

.highlight-list li:nth-of-type(2):before {
	content: "2";
}

.highlight-list li:nth-of-type(3):before {
	content: "3";
}


/* Article page */

.post {
	max-width: 100%
	padding: 0 0;
}

.post-link {
	display: inline-block;
}

.post-content > *, .post-title, .post-meta {
	max-width: 900px;
	margin: 0 auto;
}

.post-content > *:last-child {
	margin-bottom: 0;
}

@media (min-width: 64em) {
	.post-content>*, .post-title, .post-meta {
		max-width: 750px;
	}
}

@media (min-width: 36em) {


	.post figure.left {
		float: left;
		margin: 0 2em 2em 0;
	}

	.post figure.right {
		float: right;
		margin: 0 0 2em 2em;
	}

	
	.post figure:not(.big) {
		max-width: 300px;
	}

}

figure.left, figure.right {
	clear: both;
	max-width: 450px;
}


@media (min-width: 52em) {
	.post figure:not(.big):not(.left):not(.right) {
		max-width: 750px;
	}
}

.post figure {
	margin-bottom: 3em;
}

.post .big {
	max-width: 1280px;
}
.post-title {
	font-size: 3em;
	font-family: "Hind", sans-serif;
}
.post-meta {
	font-size: 1em;
	margin: 1em auto;
	font-style: italic;
}
.post-content {
	margin-top: 3em;
}
.post-content:after {
	clear: both;
	content: "";
	display: block;
}

.post-content > * {
	margin-bottom: 1.5em;
}

.post-content > h2 {
	margin-bottom: 1em;
	margin-top: 2em;
	font-size: 2rem;
}

figcaption {
	font-style: italic;
	text-align: left;
	color: #3d5aa8;
}

blockquote {
	font-size: 1.25em;
    font-style: italic;
    padding: .5em .2em .5em 1em;
    border-left: 5px solid #386fe8;
    color: #3d5aa8;
	background: rgb(243, 248, 249);
}

blockquote p {
	margin-bottom: 0;
}

.note {
    text-align: left;
    margin: 0 auto 2em;
    background: #f3f8f9;
    padding: 1em;
    border-radius: 6px;
	color: #3d5aa8;
	font-family: "Hind", sans-serif;
	font-size: 1em;
}

.post figure {

}

.post-content > ol {
	padding-left: 2.4rem;
}

/* Footer */

footer {
	background: rgb(243, 248, 249);
	text-align: center;
	color: silver;
	padding: 2em 0;

}

footer a {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: underline;
}

.pg-footer p {
	padding: 1.5em 1em 0;
	font-size: 1em;
}

/* Non-semantic helper classes */
.center {
	text-align: center;
}

