html {
	background: #f7f5f0;
}

body {
	color: #3a3a3a;
	display: flex;
	font-family: 'Mukta Malar', sans-serif;
	font-size: 20px;
	font-size: 1.25rem;
	flex-direction: column;
	max-width: 1290px;
	margin: 2em auto;
}

a {
	border-bottom: .1em solid #3a57bb;
	color: inherit;
	display: inline-block;
	position: relative;
	text-decoration: none;
	z-index: 0;
}

a:hover {
	color: white;
	transition: all .1s ease-in .15;
}

a:before {
	background: #3a57bb;
	bottom: 0;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	transition: all .2s ease-in;
	width: 100%;
	z-index: -1;
}

a:hover:before {
	height: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	border-bottom: 4px dotted #b9b6a6;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;    
    padding-bottom: 2em;
}

h1 {
	border-bottom: 4px dotted #b9b6a6;
	color: #3a57bb;
	display: block;
	font-size: 3.5em;
	font-weight: 800;
	flex: none;
	margin: 0 0 .6em;
	padding-bottom: .25em;
	text-align: center;
    text-shadow: 1px 3px 0px #ffffff;
	width: 100%;
}

.main > * {
	line-height: 1.2;
	width: 49%;
	text-align: right;
}

.main > div {
	margin-top: 1.5em;
}

p {
	font-size: 1.1em;
}

p:first-of-type {
	font-size: 2em;
	margin-bottom: 2em;
}

.foot {
	color: #b9b6a6;
	margin-top: 1.2em;
	text-align: right;
	font-size: .8em;
}