<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
  <title>Scott Birdsey</title>
  {% include head.html %}
  </head>
  <body>

    {% include header.html %}

<main class="tmpl-home" aria-label="Content">
	<div class="pg-section pg-home-intro">
	  <div>
	  	<div>
	    	<span>Hey &ndash; welcome!</span>
	    	<h2>I&rsquo;m Scott Birdsey,</h2>
	    	<span>a <a href="#web-designer">web designer</a> &amp; <a href="#cyclist">cyclist</a> in Albany, NY.</span>
	    </div>
	  	<img src="/assets/img/portrait.jpg">
	  </div>
	</div>

	<div class="pg-section center" id="web-designer">
		<h2>I’m a web designer &amp; developer</h2>
		
		<div>
			<p>I’m a web designer and developer with a passion for going after design challenges both big and small.<br>I love to build websites and apps with people of all walks of life.</p>

			<div class="highlights">
				<h3>Want to know more? Well, I like to think about websites a bit like this.</h3>
				<ol class="highlight-list">
					<li>Plot a course for <em>what exactly</em> a website needs to do, and a plan for how it will do it.</li>
					<li>Design the content, layout, and other visual components based around <em>use</em> and <em>brand</em>.</li>
					<li>Develop the code-base and authoring tools with an eye for <em>accessibility</em> and <em>performance</em>.</li>
				</ol>
			</div>
			<p>Want to work together? <a href="/is-listening">Contact me</a>.
		</div>

	</div>

	<div class="pg-section pg-home-cycling" id="cyclist">
		<h2>I’m also a member of the bike racing community</h2>
		
		<div class="grd grd-2">
			<div class="group">
				<img src="/assets/img/uncle-sam.jpg">
			</div>

			<div class="group">
				<p>My love for cycling began in 2015 as a 15-years-long smoker craving new adventure and happier lungs. Now I race road, cyclocross, and cross-country. I am Creative Director for the <a href="http://nycross.com">NYCROSS</a> series, a five-event cyclocross series in the Northeast, and a boardmember of <a href="http://cbrc.cc">Capital Bicycle Racing Club</a>. I am the race director for Troy, and a brand ambassador for <a href="http://ktmbikeindustries.com">KTM Bike Industries</a>.</p>

				<p>I like to think about bike racing almost as much as I like to do it. So, you can expect lots of <a href="/writes">writing</a> here on the topic.</p>
			</div>
		</div>
			<h3>My humble race highlights</h3>
		<div class="grd grd-2">
			<div class="group">
				<h4 class="list-header"><span>2017</span></h4>
				<ul class="stats">
					<li><strong>1st</strong>, Downtown White Plains Criterium (NYS Criterium Championships), Cat 4</li>
					<li><strong>1st</strong>, Prattsburgh Gravel Classic (NYS Gravel Racing Championships), Intermediate</li>
					<li><strong>4th</strong>, Black Fly Challenge, Overall</li>
					<li><strong>6nd</strong>, Rockland County Supercross, Cat 3</li>
					<li><strong>7th</strong>, GP of Gloucester, Cat 3</li>
				</ul>
			</div>
			<div class="group">
				<h4 class="list-header"><span>2016</span></h4>
				<ul class="stats">
					<li><strong>1st</strong></strong></strong>, Tour of the Battenkill, Cat 5</li>
					<li><strong>2nd</strong></strong>, Tour of the Hilltowns, Cat 5</li>
					<li><strong>2nd</strong>, Capital Region Road Race, Cat 5</li>
					<li><strong>2nd</strong></strong>, Uncle Sam Grand Prix (NYS Cyclocross Championships), Cat 4</li>
					<li><strong>1st</strong>, Cross Out Child Abuse, Cat 3/4</li>
				</ul>

			</div>
		</div>
	</div>
</main>

    {% include footer.html %}

  </body>

</html>

